@font-face {
  font-family: 'Boogaloo';
  src: url('../fonts/boogaloo-regular-webfont.woff2') format('woff2'),
       url('../fonts/boogaloo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Snippet';
  src: url('../fonts/snippet-webfont.woff2') format('woff2'),
       url('../fonts/snippet-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@media (min-width: 15em){

  section {
    font-size: 100%;
  }

  aside {
    font-size: 100%
  }

  header {
    font-size: 100%;
  }

  footer {
    font-size: 95%;
  }

  .dill-resize {
    width: 250px;
    height: auto;
  }

  .sweet-resize {
    width: 280px;
    height: auto;
  }

  .bread-resize {
    width: 150px;
    height: auto;
  }

  .half-resize {
    width: 230px;
    height: auto;
  }

  .jalapeno-resize {
    width: 170px;
    height: auto;
  }

  .banana-pepper-resize {
    width: 150px;
    height: auto;
  }

}

@media (min-width: 30em){

  section {
    font-size: 110%;
  }

  aside {
    font-size: 110%;
  }

  header {
    font-size: 110%;
  }

  footer {
    font-size: 110%;
  }

  .dill-resize {
    width: 305px;
    height: auto;
  }

  .sweet-resize {
    width: 355px;
    height: auto;
  }

  .bread-resize {
    width: 185px;
    height: auto;
  }

  .half-resize {
    width: 285px;
    height: auto;
  }

  .jalapeno-resize {
    width: 225px;
    height: auto;
  }

  .banana-pepper-resize {
    width: 200px;
    height: auto;
  }

}



@media (min-width: 48em){

  body {
    font-size: 120%;
  }

  .row-col li {
    float: left;
    width: 50%;
  }

  li.dill {
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  li.bread-butter {
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  li.jalapeno {
    padding-bottom: 9em;
    margin-bottom: -9em;
  }

  li.sweet {
    padding-bottom: 9em;
    margin-bottom: -9em;

  }

  li.half-sour {
    padding-bottom: 9em;
    margin-bottom: -9em;

  }

  li.banana-pepper {
    padding-bottom: 9em;
    margin-bottom: -9em;

  }

  header {
    font-size: 115%;
  }

  footer {
    font-size: 110%;
  }

  .dill-resize {
    width: 410px;
    height: auto;
  }

  .sweet h3 {
    margin-top: .4em;
  }

  .half-sour h3 {
    margin-top: -.1em;
  }

  .banana-pepper h3 {
    margin-top: .3em;
  }

  .banana-pepper .recipe {
    margin-top: .9em;
  }

  .sweet-resize {
    width: 405px;
    height: auto;
    margin-top: -1em;
  }

  .bread-resize {
    width: 225px;
    height: auto;
  }

  .half-resize {
    width: 345px;
    height: auto;
    margin-top: -1em;
  }

  .jalapeno-resize {
    width: 280px;
    height: auto;
  }

  .banana-pepper-resize {
    width: 220px;
    height: auto;
    margin-top: -2.5em;
  }

  footer{
    clear: both;
  }
}



body {
  margin: auto;
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  font-family: Boogaloo;
  font-size: 3em;
  color: #E1F6B9;
  margin-left: 1em;
  margin-bottom: 0;
}

h2 {
  font-family: Snippet;
  font-size: 1em;
  margin-top: 0;
  margin-left: 3em;
  margin-bottom: 3em;
}

h3 {
  font-family: Boogaloo;
  font-size: 1.4em;
  text-align: center;
  line-height: .2em;
}

h4 {
  font-family: Boogaloo;
  text-align: center;
  font-size: 1.1em;
}

p {
  font-family: Snippet;
  font-size: 1em;
  text-align: center;
  line-height: 1em;
  padding-left: .5em;
  padding-right: .5em;
  padding-bottom: .5em;
  margin: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 2em;
}

.row-col {
  list-style: none;
  padding-left: 0;
  !border: 1px solid #000;
  overflow: hidden;
  margin: auto;
}

.dill {
  background: #D7F1AE;
}

.sweet {
  background: #CAE1A3;
}

.bread-butter {
  background: #B2D37B;
}

.half-sour {
  background: #A9D598;
}

.jalapeno {
  background: #B3CD85;
}

.banana-pepper {
  background: #D8E97F;
}

a {
  font-family: Snippet;
  font-size: 1em;
  text-decoration: none;
  color: #5D8E57;
  text-align: center;
  font-weight: bold;
}

.recipe {
  padding-top: 2em;
  padding-bottom: 6em;
}


p.recipe a:hover {
  background: #98D352;
}

img.sweet-resize {
  padding-bottom: 0;
}


footer {
  padding-top: .5em;
  padding-bottom: 2em;
}

